<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
ng serve</div> -->

<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">

  Email:<br>
  <input type="text" id="fname" [(ngModel)]="email" placeholder="email"><br>
  <br>

  Password:<br>
  <input type="text" id="lname" [(ngModel)]="password" placeholder="password"><br>
  <br>

  <!-- <button (click)="signup()" [disabled]="!email || !password">Signup</button> -->

  <!-- <button (click)="login()" [disabled]="!email || !password">Login</button> -->
  <input type="submit" value="Login" (click)="login()" [disabled]="!email || !password">

  <input type="submit" value="Signup" (click)="signup()" [disabled]="!email || !password">

</div>

<button (click)="logout()" *ngIf="authService.user | async">  Logout</button>

